# HOMEWORK 01 

https://github.com/DataTalksClub/machine-learning-zoomcamp/blob/master/cohorts/2025/01-intro/homework.md


- For this homework, we'll use the Car Fuel Efficiency dataset. Download it from here.
https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv

In [ ]:


import pandas as pd
import os

# file_path = r'C:\Users\username\Documents\00_Training\DataTalks\Data\car_fuel_efficiency.csv'
# or using a relative path

file_path = r'..\Data\car_fuel_efficiency.csv'

# Q1 - Version of Pandas

In [14]:
pd.__version__

'2.3.1'

# Q2. Records Count

In [ ]:
# Q2. Records Count

df = pd.read_csv(file_path)

df.shape[0]  # Number of rows

9704

In [3]:
# List the column names

print(list(df.columns))

['engine_displacement', 'num_cylinders', 'horsepower', 'vehicle_weight', 'acceleration', 'model_year', 'origin', 'fuel_type', 'drivetrain', 'num_doors', 'fuel_efficiency_mpg']

# Q3. Count the different values in the 'fuel_type' column

In [4]:
# Q3. Count the different values in the 'fuel_type' column 

fc = df['fuel_type'].value_counts()
print(fc)

fuel_type
Gasoline    4898
Diesel      4806
Name: count, dtype: int64

# Q4. Count missing values in each column

In [5]:
# Q4. Count missing values in each column

missing_values = df.isnull().sum()
print('Missing values in each column:\n', missing_values)

Missing values in each column:
 engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

# Q5 - Maximum fuel efficiency for cars from Asia

In [6]:
# Q5 - Maximum fuel efficiency for cars from Asia

max_fuel_Asia = df[df['origin'] == 'Asia']['fuel_efficiency_mpg'].max()

print('Maximum fuel efficiency for cars from Asia:', max_fuel_Asia)

Maximum fuel efficiency for cars from Asia: 23.759122836520497

# Q6. Median value of horsepower

Find the median value of horsepower column in the dataset.
Next, calculate the most frequent value of the same horsepower column.
Use fillna method to fill the missing values in horsepower column with the most frequent value from the previous step.
Now, calculate the median value of horsepower once again.

In [7]:
median_horsepower = df['horsepower'].median()
print('Median horsepower:', median_horsepower)

Median horsepower: 149.0

In [8]:
# Horsepower fill NA
df2 = df.copy()
df2['horsepower'] = df2['horsepower'].fillna(median_horsepower)
df2['horsepower'].isnull().sum()

np.int64(0)

In [9]:
median_horsepower_df2 = df2['horsepower'].median()
print('Median horsepower in df2:', median_horsepower_df2)

Median horsepower in df2: 149.0

In [10]:
df.describe()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,num_doors,fuel_efficiency_mpg
count,9704.000000,9222.000000,8996.000000,9704.000000,8774.000000,9704.000000,9202.000000,9704.000000
mean,199.708368,3.962481,149.657292,3001.280993,15.021928,2011.484027,-0.006412,14.985243
std,49.455319,1.999323,29.879555,497.894860,2.510339,6.659808,1.048162,2.556468
min,10.000000,0.000000,37.000000,952.681761,6.000000,2000.000000,-4.000000,6.200971
25%,170.000000,3.000000,130.000000,2666.248985,13.300000,2006.000000,-1.000000,13.267459
50%,200.000000,4.000000,149.000000,2993.226296,15.000000,2012.000000,0.000000,15.006037
75%,230.000000,5.000000,170.000000,3334.957039,16.700000,2017.000000,1.000000,16.707965
max,380.000000,13.000000,271.000000,4739.077089,24.300000,2023.000000,4.000000,25.967222

In [11]:
df2.describe()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,num_doors,fuel_efficiency_mpg
count,9704.000000,9222.000000,9704.000000,9704.000000,8774.000000,9704.000000,9202.000000,9704.000000
mean,199.708368,3.962481,149.609336,3001.280993,15.021928,2011.484027,-0.006412,14.985243
std,49.455319,1.999323,28.769305,497.894860,2.510339,6.659808,1.048162,2.556468
min,10.000000,0.000000,37.000000,952.681761,6.000000,2000.000000,-4.000000,6.200971
25%,170.000000,3.000000,131.000000,2666.248985,13.300000,2006.000000,-1.000000,13.267459
50%,200.000000,4.000000,149.000000,2993.226296,15.000000,2012.000000,0.000000,15.006037
75%,230.000000,5.000000,168.000000,3334.957039,16.700000,2017.000000,1.000000,16.707965
max,380.000000,13.000000,271.000000,4739.077089,24.300000,2023.000000,4.000000,25.967222

# Q7 Sum of Weights

- Select all the cars from Asia
- Select only columns vehicle_weight and model_year
- Select the first 7 values
- Get the underlying NumPy array. Let's call it X.
- Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
- Invert XTX.
- Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].
- Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
- What's the sum of all the elements of the result?

In [12]:
df_asia = df[df['origin'] == 'Asia'][['vehicle_weight', 'model_year']].copy()

df_asia.head()

    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016

In [13]:

import numpy as np

df_asia = df_asia.head(7)

# X is a (7, 2) array
X = df_asia.values  # shape (7, 2)

# Compute X^T X
XTX = X.T.dot(X)

# Invert XTX
XTX_inv = np.linalg.inv(XTX)

# y vector
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

# Compute w = (XTX_inv) @ X.T @ y
w = XTX_inv.dot(X.T).dot(y)

print('w =', w)
print('sum of elements in w =', w.sum())

w = [0.01386421 0.5049067 ]
sum of elements in w = 0.5187709081074016